<template>
  <div>
    <div v-if="isCartEmpty"><p>
      Покищо кошик пустий
    </p></div>
    <table v-else>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Count</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in getItems" :key="item.id">
          <td>{{ item.item }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.count }}</td>
          <td>{{ (item.price * item.count).toFixed(2) }}</td>
          <td><button @click="addToCart(item)" class="btn">More!!!</button></td>
          <td><button @click="deleteFromCart(item)" class="btn">Less</button></td>

        </tr>
      </tbody>
    </table>
    <router-link :to="'/'">
			<button class="btn">Go to back</button>
		</router-link>
  </div>
</template>

<script>
import store from '../store.js'
export default {
  computed: {
    getItems() {
      console.log('get data from store', store.state.cart)
      return store.state.cart;
    },
    isCartEmpty() {
      return store.getters.isCartEmpty;
    }
  },
  methods: {
    addToCart: function (item) {
      store.commit('pushToCart', item);            
    },
    deleteFromCart: function (item) { 
      store.commit('deleteOfCart', item)
    }
  }
}
</script>

