<template>
	<div>
		<h2 v-if="product">
			This is page for product #{{ product.id }}: {{ product.item }}
		</h2>
		<h2 v-else>Product not found</h2>
		<div>
			<button v-on:click="addToCart(product)" class="btn">Add to cart</button>
			<button v-on:click="deleteFromCart(product.id)" class="btn">Delete of cart</button>
		</div>
		<router-link :to="'/'">
			<button class="btn">Go to back</button>
		</router-link>
	</div>
</template>
<script>
import products from '../data/products.js'
import store from '../store.js'

export default {
	data: function () {
		return {
			product: null,
		}
	},
	mounted: function () {
		this.product = products.find(item => {
			return item.id === Number(this.$route.params.id)
		})
	},
	methods: {
		addToCart: function (item) {
			store.commit('pushToCart', item)
        },
        deleteFromCart: function (item) { 
            store.commit('deleteOfCart', item)
        }
	},
}
</script>
