<template>
    <div class="products">
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit"  class="btn">
        </form>
        <div>
            <router-link v-bind:to="'/cart'">
                <button class="btn">Cart</button>
            </router-link>
        </div>
        <div class="product" v-for="(item) in filteredItems" v-bind:key="item.id">
            <div class="product-image">
                <img v-bind:src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link v-bind:to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>Ціна: {{item.price}}</label>
                <div>
                    <label>Кількість у кошику: {{ getCountOfItem(item.id) }}</label>
                </div>
                <div>
                    <button class="btn" @click="addToCart(item)">Add to cart</button>  
                </div>
                <div>
                    <button @click="deleteFromCart(item)" class="btn">Delete of cart</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import products from '../data/products.js'
    import store from '../store.js'
    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: []
            };
        },
        mounted: function(){
            this.items = products;
        },
        methods: {
            addToCart: function (item) {
                store.commit('pushToCart', item);            
            },
            getCountOfItem: function (id) { 
                return store.getters.getCount(id);
            },
            deleteFromCart: function (item) { 
                store.commit('deleteOfCart', item)
            }
        },
        computed: {
            filteredItems: function() {
                console.log(this);
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        }
    }
</script>
